@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Plus+Jakarta+Sans:wght@600&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: #202020;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*   NAV BAR   */
nav {
    width: 100%;
    background-color: #404040;
    z-index: 1000;
    position: fixed;

}

nav>div {
    margin: auto;
    max-width: 1400px;
    background-color: #404040;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    margin: 5px 20px 5px 20px;
    padding: 5px;
}

#main_title {
    margin: auto;
    max-width: 1400px;
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 80px 0 50px 0;
}

#games {
    margin: auto;
    max-width: 1400px;
}

#game_container {
    background-color: #404040;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    height: 50%;
    overflow: hidden;
}

#mainbox {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 450px;
    width: 450px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    border: black 5px solid;
    transform: rotate(20deg);
}

#arrow {
    grid-row-start: 1;
    grid-column-start: 1;
    clip-path: polygon(50% 0%, 0% 55%, 100% 55%);
    margin: auto;
    height: 70%;
    width: 20px;
    box-shadow: 10px 10px 5px 12px lightblue;
}

.spin_green {
    animation: rotate 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate {

    to {
        transform: rotate(2999deg);
    }
}

.spin_blue {
    animation: rotate_blue 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_blue {

    to {
        transform: rotate(3089deg);
    }
}

.spin_orange {
    animation: rotate_orange 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_orange {

    to {
        transform: rotate(3179deg);
    }
}

.spin_white {
    animation: rotate_white 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_white {

    to {
        transform: rotate(3269deg);
    }
}

.box {
    width: 50%;
    height: 50%;
    float: left;
}

#white {
    background-color: white;
}

#orange {
    background-color: orange;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

/*
*   BET PLACING BUTTONS     *
*/

#bet_roulette {
    margin: 20px 0 0 0;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#color_choice {
    display: flex;
    flex-grow: 1;
}

#color_choice>label {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: solid 5px #303030;
    flex-grow: 1;
}

#color_choice>input:checked+label {
    border: solid 5px #b1b1b1
}

#bet_size {
    font-size: 2rem;
    margin: 5px;
    border: transparent;
    border-radius: 15px;
    border: solid 5px #303030;
    color: #cacaca;
    flex-grow: 1;
}

.choice {
    width: 0px;
    opacity: 0;
}

#place_bet_roulette {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
    border-radius: 15px;
    border: solid 5px #303030;
    color: #ffffff;
    flex-grow: 1;
}

#white_box {
    background-color: white;
}

#orange_box {
    background-color: orange;
}

#green_box {
    background-color: green;
    color: white;
}

#blue_box {
    background-color: blue;
    color: white;
}

/*
    HOW TO PLAY
*/

#how_to_play {
    max-width: 1400px;
    text-align: center;
    margin: auto;
    color: white;
}

#how_to_play h1 {
    font-size: 2.5rem;
    padding: 40px;
}

#how_to_play_steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#how_to_play_steps>div {
    border: solid 2px #444444;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
    flex-grow: 1;
}

#how_to_play_steps>div>h2,
p {
    padding: 10px;
}

#step_one_img {
    height: 200px;
    background: url(../images/step1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: solid 2px #444444;
}

#step_two_img {
    height: 200px;
    background: url(../images/step2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
    border-bottom: solid 2px #444444;
}

#step_three_img {
    height: 200px;
    background: url(../images/step3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: solid 2px #444444;
}


/*
*   TABLET SIZE
*/

@media screen and (max-width: 1100px) {

    nav a {
        font-size: 1.5rem;
    }

    #place_bet_roulette {
        font-size: 1.6rem;
    }

    /*
    *   BET PLACING BUTTONS     *
    */

    #bet_size {
        width: 100%;
    }

    #bet_roulette {
        font-size: 1.6rem;
    }

    /*
        HOW TO PLAY
    */

    #how_to_play_steps {
        grid-template-columns: 1fr 1fr;
    }
}

/*
*   PHONE SIZE
*/

@media screen and (max-width: 500px) {

    nav a {
        font-size: 4vw;
    }

    #mainbox {
        width: 85vw;
        height: 85vw;
    }

    /*
    *   BET PLACING BUTTONS     *
    */

    #bet_roulette {
        font-size: 100%;
    }

    #how_to_play_steps {
        grid-template-columns: 1fr;
    }
}