* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: #202020;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*   NAV BAR   */
nav {
    width: 100%;
    background-color: #404040;
    z-index: 1000;
}

nav>div {
    margin: auto;
    max-width: 1400px;
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

#games {
    margin: auto;
    max-width: 1400px;

}

#game_container {
    margin-top: 30px;
    background-color: #404040;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

#mainbox {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 450px;
    width: 450px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    border: black 5px solid;
    transform: rotate(20deg);
}

#arrow {
    grid-row-start: 1;
    grid-column-start: 1;
    clip-path: polygon(50% 0%, 0% 55%, 100% 55%);
    margin: auto;
    height: 70%;
    width: 20px;
    box-shadow: 10px 10px 5px 12px lightblue;
}

.spin_green {
    animation: rotate 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate {

    to {
        transform: rotate(2999deg);
    }
}

.spin_blue {
    animation: rotate_blue 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_blue {

    to {
        transform: rotate(3089deg);
    }
}

.spin_orange {
    animation: rotate_orange 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_orange {

    to {
        transform: rotate(3179deg);
    }
}

.spin_white {
    animation: rotate_white 5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_white {

    to {
        transform: rotate(3269deg);
    }
}

.box {
    width: 50%;
    height: 50%;
    float: left;
}

#white {
    background-color: white;
}

#orange {
    background-color: orange;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

/*
*   BET PLACING BUTTONS     *
*/

#bet_roulette {
    margin: 20px 0 0 0;
}

#bet_size {
    width: 20%;
    border: none;
}

.box_choice {
    width: 15%;
}

#place_bet_roulette {
    width: 20%;
    border: none;
}

#white_box_choice {
    background-color: white;
}

#orange_box_choice {
    background-color: orange;
}

#green_box_choice {
    background-color: green;
}

#blue_box_choice {
    background-color: blue;
}